* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

html {
  font-size: 62.5%;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #3b2909;
  color: #fff;
  padding: 20px;
}

header h2 {
  padding-left: 20px;
  margin-top: 0;
  font-family:Special Elite;
}

header section {
  position: absolute;
  top: 10;
  right: 20px;
}

#sidebar {
    height: relative;
    width: 220px;
    position: absolute;
    background-color: #3b2909;
    left: -300px;
    transition: .4s;
  }

#sidebar.active {
  left: 0;
}

#sidebar ul li{
  list-style: none;
  display: block;
  color: #fff;
  font-size: 20px;
  padding: 20px 30px;
}

#sidebar ul a{
  color: white;
}

#sidebar ul li:hover{
  background-color: #815306;
  cursor:pointer;
}

ul li:hover a{
  padding-left: 16px;
  transition: .4s;
}

#sidebar .toggle-btn {
  position: absolute;
  top: 30px;
  left: 330px;
  margin: 10px;  
}

.toggle-btn span {
  width: 30px;
  height: 4px;
  background: #fff;
  display: block;
  margin: 4px;
}

body{
  background-image:url('food-background.jpg');
}

.sbox{
  width:100%;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}
form{
  background:#fff;
  width:600px;
  height:55px;
  display:flex;
}
form input{
  flex:1;
  border:none;
  outline:none;
}

form button{
  background:#df5c0a;
  padding:10px 50px;
  border:none;
  outline:none;
  color:white;
  letter-spacing:1px;
  cursor:pointer;
  
}
.b details{
  width: auto;
  height: auto;
  border-radius: 5px 5px 0 0;
  font-size: 1.3rem;
  font-family:Times new roman;
  background-color:#EEEEDB;
}

main {
  padding: 20px;
  max-width: 100%;
}

.recipies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color:transparent;
}

.recipies .card {
  display: grid;
  box-shadow: 0 4px 8px 0
    rgba(0,0,0,.2);
  transition: .3s;
  border-radius: 5px;
  margin: 0 auto;
  padding: 3rem 2rem;
  width: 100%;
  background-color:#EEEEDB;
}

.card .img {
  width: 100%;
  height: 80%;
  border-radius: 5px 5px 0 0;
}

.card:hover {
  box-shadow: 0 10px 18px 0 rgba(0,0,0,.2);
}

.card .title {
  font-size: 1.2rem;
  color: #000;
  margin-bottom: 3rem;
  text-align: center;
}

@media screen and (max-width: 768px){
  .recipies {
    grid-template-columns: 1fr;
  }
}

  .view-button{
    text-decoration:none;
    text-align:center;
    width:50px;
    padding:2px 0;
    background-color:#404041;
    color: #fff;
    font-size:0.8rem;
    margin-top:20px;
    align-self:flex-start;
  }

summary{
  font-size:2.2rem;
}
ul li{
  font-size: 1.5rem;
}

p{
  font-size: 1.3rem;
  font-family:Times new roman;
}